// Reset
@import './partials/reset';

// Fonts
@import './partials/fonts';

// Flex Classes
@import './partials/flex';

// Layouts
// ----- App -----
@import './style_layouts/app_layout.scss';

// ----- Admin -----
@import './style_layouts/admin_layout.scss';

// Components
// ----- Welcome -----
@import './components/welcome.scss';

// ----- Login -----
@import './components/login.scss';

// ----- Register -----
@import './components/register.scss';

// ----- Forgot Password -----
@import './components/forgot-password.scss';

// ----- Dashboard -----
@import './components/dashboard.scss';

// General Rules
.main-container {
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}