header {
    height: 80px;
    .main-container {
        height: 100%;
        nav {
            height: 100%;
            ul {
                a {
                    font-weight: bold;
                    color: red;
                }
                .login-register {
                    margin-left: 15px;
                }
            }
        }
    }
}